/* Universal CSS */
:root {
    --interfont: "Inter", sans-serif;
    --raleway: "Raleway", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

body {
    background-color: #F5F8FF;
}

/* Universal CSS */

/* NAV_BANNER */
.nav-banner {
    background-image: url(../Assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.nav-banner header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.nav-banner header nav .logo {
    font-family: var(--interfont);
    color: #4E47FF;
    font-size: 34px;
    font-weight: 800;
}

.nav-banner header nav .nav-btn {
    padding: 12px 36px;
    background-color: #4E47FF;
    border-radius: 10px;
    font-family: var(--raleway);
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    transition: all 0.5s ease;
}

.nav-banner .banner {
    text-align: center;
    padding: 158px 0 152px 0;

}

.nav-banner .banner h1 {
    font-family: var(--raleway);
    font-size: 65px;
    font-weight: 800;
    color: #252432;
}

.nav-banner .banner a {
    padding: 12px 36px;
    display: inline-block;
    margin-top: 37px;
    border-radius: 10px;
    background-color: #4E47FF;
    color: #FFFFFF;
    font-family: var(--raleway);
    font-size: 16px;
    font-weight: 600;
    transition: all 0.5s ease;
}

/* NAV_BANNER */

/* ACTION */
.action-section {
    display: flex;
    margin: 116px 0;
}

.action-section .text-part {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 23px;
}

.action-section .text-part h3 {
    font-family: var(--raleway);
    font-size: 42px;
    font-weight: 700;
}

.action-section .text-part p {
    font-family: var(--raleway);
    font-size: 24px;
    color: #252432;
    opacity: 50%;
}

.action-section .text-part a {
    padding: 12px 36px;
    background-color: #4E47FF;
    color: #FFFFFF;
    border-radius: 10px;
    font-family: var(--raleway);
    font-weight: 700;
    font-size: 16px;
    transition: all 0.5s ease;
}

.action-section .img-part {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.action-section .img-part img {
    border-radius: 48px;
}

/* ACTION */

/* PRODUCTIVE USER */
.productive-user-section {
    background-color: rgba(77, 71, 255, 0.1);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 50px 0;
    margin-bottom: 137px;
}

.productive-user-section h3 {
    font-family: var(--raleway);
    font-size: 38px;
    font-weight: 700;
    color: #252432;
}

.productive-user-section .stat-part {
    display: flex;
    gap: 158px;
}

.productive-user-section .stat-part .active-user {
    text-align: center;
}

.productive-user-section .stat-part .active-user h1,
.productive-user-section .stat-part .focus-sessions h1,
.productive-user-section .stat-part .satisfaction-rate h1 {
    font-family: var(--interfont);
    font-size: 80px;
    font-weight: 700;
    color: #4E47FF;
}

.productive-user-section .stat-part .active-user p,
.productive-user-section .stat-part .focus-sessions p,
.productive-user-section .stat-part .satisfaction-rate p {
    font-family: var(--interfont);
    font-size: 20px;
    color: #000000;
    opacity: 50%;
}

.productive-user-section .stat-part .focus-sessions {
    text-align: center;
}

.productive-user-section .stat-part .satisfaction-rate {
    text-align: center;
}

/* PRODUCTIVE USER */

/* USERS FEEDBACK */
.users-review-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 137px;
}

.users-review-section h3 {
    font-family: var(--raleway);
    font-size: 42px;
    color: #252432;
}

.users-review-section .review-card {
    display: flex;
    gap: 20px;
}

.users-review-section .review-card .card {
    border: 1px solid #F2EDED;
    border-radius: 14px;
    background-color: #FFFFFF;
    padding: 24px;
}

.users-review-section .review-card .card .star-icons {
    display: flex;
    gap: 4px;
    color: #FFB805;
    margin-bottom: 24px;
}

.users-review-section .review-card .card h3 {
    font-family: var(--interfont);
    font-weight: 600;
    font-size: 24px;
    color: #1E1E1E;
    margin-bottom: 8px;
}

.users-review-section .review-card .card p {
    font-family: var(--interfont);
    font-weight: 400;
    font-size: 16px;
    color: #1E1E1E;
    margin-bottom: 24px;
}

.users-review-section .review-card .card .user-info {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
}

.users-review-section .review-card .card .user-info .img-part img {
    border-radius: 50%;
}

.users-review-section .review-card .card .user-info .text-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.users-review-section .review-card .card .user-info .text-part h4 {
    font-family: var(--interfont);
    font-size: 16px;
    font-weight: 700;
    color: #757575;
}

.users-review-section .review-card .card .user-info .text-part h6 {
    font-family: var(--interfont);
    font-size: 16px;
    color: #B3B3B3;
    font-weight: 400;
}

/* USERS FEEDBACK */

/* CTA BANNER */
.cta-banner {
    background-color: #FFFFFF;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 71px 0;
    gap: 20px;
    margin-bottom: 92.23px;
}

.cta-banner h1 {
    font-family: var(--raleway);
    font-weight: 700;
    font-size: 50px;
    color: #000000;
}

.cta-banner p {
    font-family: var(--interfont);
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    opacity: 50%;
}

.cta-banner a {
    padding: 12px 36px;
    font-family: var(--raleway);
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    transition: all 0.5s ease;
}
.cta-banner a:hover{
    background-color: yellow;
    color: black;
}

.cta-banner img {
    border-radius: 48px;
}

/* CTA BANNER */

/* LETS GET IN TOUCH */
.lets-get-in-touch {
    display: flex;
    padding: 71px 0;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 14px;
}

.lets-get-in-touch h1 {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--raleway);
    font-size: 97px;
    font-weight: 700;
    color: #000000;
}

.lets-get-in-touch form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 19px;
}

.lets-get-in-touch form .input-box {
    display: flex;
    flex-direction: column;
    width: 497px;
    gap: 10px;
}

.lets-get-in-touch form .input-box label {
    font-family: var(--interfont);
    font-size: 18px;
    font-weight: 400;
    color: #000000;
}

.lets-get-in-touch form .input-box input,
textarea {
    padding: 20px 0px 20px 32px;
    border-radius: 10px;
    border: 1px solid #D6DDED;
    font-family: var(--interfont);
    font-size: 20px;
    font-weight: 400;
    color: #000000;
}

.lets-get-in-touch form .input-box textarea {
    padding-bottom: 85px;
    resize: none;
}

.lets-get-in-touch form .input-box input::placeholder,
textarea::placeholder {
    font-family: var(--interfont);
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    opacity: 50%;
}

.lets-get-in-touch form .submit-btn {
    background-color: #4E47FF;
    color: #FFFFFF;
    padding: 19px 201px;
    font-family: var(--raleway);
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    transition: all 0.5s ease;
    cursor: pointer;
}

.lets-get-in-touch form .submit-btn:hover {
    background-color: yellow;
    color: black;
}

/* LETS GET IN TOUCH */

/* FOOTER */
.f {
    background-color: #FFFFFF;
}

.f footer {
    padding: 103px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.f footer h1 {
    font-family: var(--interfont);
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
    margin-bottom: 8px;
}

.f footer p {
    font-family: var(--interfont);
    font-size: 16px;
    font-weight: 400;
    color: #8987A1;
    text-align: center;
    margin-bottom: 20px;
}

.f footer ul {
    display: flex;
    gap: 48px;
}

.f footer ul li a {
    font-family: var(--interfont);
    font-weight: 400;
    font-size: 16px;
    color: #8987A1;
}

/* FOOTER */

/* UNIVERSAL BUTTON HOVER EFFECT */
.nav-banner header nav .nav-btn:hover,
.nav-banner .banner a:hover,
.action-section .text-part a:hover {
    background-color: yellow;
    color: black;
}

/* UNIVERSAL BUTTON HOVER EFFECT */